.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend{
  overflow:auto;
  height: 500px;
}

.chart-legend li{
  cursor:pointer;
}

.strike{
     text-decoration: line-through !important;
}

.float-left{
  float:left;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color:   #272B30;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fff;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}


#user-availability-status{

  color: red;
}


/* General -------------------------------------------------------------------------------------- */
* {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
}


a {
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition:    all 0.2s ease 0s;
  -o-transition:      all 0.2s ease 0s;
  transition:         all 0.2s ease 0s;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}
table th,
table td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

label {
  cursor: pointer;
}
input,
button,
select {
  background-color: transparent;
  font-family: 'Oxygen', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #3b4354;
}
button,
select {
  cursor: pointer;
}
button {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition:    all 0.2s ease 0s;
  -o-transition:      all 0.2s ease 0s;
  transition:         all 0.2s ease 0s;
}
select {
/*  -webkit-appearance: none;*/
}

input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=password],
input[type=date],
input[type=search],
input[type=tel] {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

/* Page container ------------------------------------------------------------------------------- */
#page_container {
  width: 100%;
  padding: 40px 5px 55px 5px;
  margin: 0 auto 0 auto;
  
}

/* Header --------------------------------------------------------------------------------------- */


button.button {
  font-size: 1.5rem;
  height: 35px;
  display: inline-block;
  background-color: #272B30;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 0 15px 0 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  margin: 0 0 10px 0;
}
button.button:hover,
button.button:active {
  background-color: #333;
}

/* Datatable ------------------------------------------------------------------------------------ */


.dataTables_paginate a.current,
.dataTables_paginate a:hover,
.dataTables_paginate a:active,
.dataTables_paginate a:focus {
  background-color: #333;
}
.dataTables_paginate a.previous,
.dataTables_paginate a.next {
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
}
.dataTables_paginate a.previous:before {
  content: '\f104';
}
.dataTables_paginate a.next:before {
  content: '\f105';
}


table.datatable {
  width: 100% !important;
  line-height: 1.4rem;
}
table.datatable thead th{
  

 
}
table.datatable td {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ccc;
}

table.datatable thead th {
  background-color: #272B30;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff !important;
  padding-top: 7px;
  padding-bottom: 8px;
   border: 1px solid #ccc;
}
table.datatable thead th.sorting,
table.datatable thead th.sorting_desc,
table.datatable thead th.sorting_asc {
  cursor: pointer;
}
table.datatable thead th.sorting:active,
table.datatable thead th.sorting_desc:active,
table.datatable thead th.sorting_asc:active {
  background-color: #333;
}

table.datatable tbody tr:nth-child(even) td {
  background-color: #FFFFFF;
}
table.datatable tbody tr:hover th,
table.datatable tbody tr:hover td {
  background-color: #ffd;
}
table.datatable tbody tr:hover td.dataTables_empty {
  background-color: #fff;
}
table.datatable tbody td.company_name {
  width: 100%;
}
table.datatable tbody td.integer {
  text-align: right;
  white-space: nowrap;
}
table.datatable tbody td.nowrap {
  white-space: nowrap;
}

table.datatable tbody td.functions .function_buttons {

  height: 30px;
  margin: 0 auto 0 auto;
}
table.datatable tbody td.functions .function_buttons li {
  float: left;
  padding: 0 10px 0 0;
}
table.datatable tbody td.functions .function_buttons li.function_delete {
  padding: 0;
}
table.datatable tbody td.functions .function_buttons a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #272B30;
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;

}
table.datatable tbody td.functions .function_buttons .function_edit a:before {
  font-size: 1.5rem;
  content: "\f044";
}
table.datatable tbody td.functions .function_buttons .function_view a:before {
  font-size: 1.5rem;
  content: "\f02f";
  font-weight: 700;
}
table.datatable tbody td.functions .function_buttons .function_delete a:before {
  font-size: 1.5rem;
  line-height: 30px;
  content: "\f2ed";
}
table.datatable tbody td.functions .function_buttons a:hover,
table.datatable tbody td.functions .function_buttons a:active,
table.datatable tbody td.functions .function_buttons a:focus {
  background-color: #333;
}
table.datatable tbody td.functions .function_buttons span {
  display: none;
}
table.table thead .sorting, table.table thead .sorting:before {
    color: #ffffff;
}
table.table thead .sorting_asc, table.table thead .sorting_asc:before, table.table thead .sorting_desc, table.table thead .sorting_desc:before {
    color: #ffffff;
}

/* Lightbox ------------------------------------------------------------------------------------- */
.lightbox_bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  margin: 0 auto;
}

.lightbox_container {
  display: none;
  width: 80%;
  height: 90%;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  top: 5%;
  left: 10%;
  z-index: 9999 !important;
  background-color: #fff;
  color: #666;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 50px 0 0 0;
   -webkit-box-sizing: border-box;
  -moz-box-sizing:     border-box;
  box-sizing:          border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
}

.lightbox_close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 45px;
  font-family: "Font Awesome 5 Free";
  
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #f70;
  cursor: pointer;
  border: 2px solid #f70;
  -webkit-border-radius: 35px;
  -moz-border-radius:    35px;
  border-radius:         35px;
}
.lightbox_close:before {
  content: '\f00d';
  font-weight: 900;
}
.lightbox_close:hover {
  color: #333;
  border-color: #333;
}

.lightbox_content {
  width: 100%;
  padding: 0 50px 0 50px;
}
.lightbox_content h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #272B30;
  margin: 0 0 25px 0;
}

.lightbox_content .input_container {
  width: 100%;
  margin: 0 0 10px 0;
}
.lightbox_content .input_container:after {
  clear: both;
  height: 0;
  display: block;
  font-size: 0;
  line-height: 0;
  content: ' ';
}

.lightbox_content .input_container label {
  width: 200px;
  float: left;
  font-size: 1.8rem;
  line-height: 32px;
  text-align: left;
  
}
.lightbox_content .input_container label span.required {
  font-weight: bold;
  color: #3b4354;
  
}

.lightbox_content .input_container .field_container {
  width: 80%;
  float: left;
  position: relative;
  text-align: left;

}
.lightbox_content .input_container .field_container label.error {
  width: 200px; 
  
  background-color: #fff1e6;
  line-height: 1.4rem;
  color: #333;
  padding: 5px 0 6px 10px;
  border: 1px solid #f70;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  margin: 0 0 5px 0;
}
.lightbox_content .input_container .field_container label.error.valid {
  display: none !important;
}
.lightbox_content .input_container .field_container input {
  
  width: 100%;
  background-color: #f9f9f9;
  line-height: 30px;
  color: #666;
  padding: 0 0 0 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
 
}
.lightbox_content .input_container .field_container input:focus {
  background-color: #ffd;
  color: #000;
}

.lightbox_content .input_container .field_container.error:after,
.lightbox_content .input_container .field_container.valid:after {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: -42px;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.lightbox_content .input_container .field_container.error:after {
  content: '\f00d';
  color: #c00;
}
.lightbox_content .input_container .field_container.valid:after {
  content: '\f00c';
  color: #090;
}

.lightbox_content .button_container {
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 15px 0 50px 0;
}
.lightbox_content .button_container button {
  height: 35px;
  display: inline-block;
  background-color: #272B30;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 0 15px 0 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
}
.lightbox_content .button_container button:hover {
  background-color: #333;
  color: #fff;
}

/* Message / noscript --------------------------------------------------------------------------- */
#message_container,
#noscript_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  color: #fff;
  z-index: 99999 !important;
}
#message_container {
  display: none;
}
#message,
#noscript {
  width: 980px;
  line-height: 20px;
  padding: 10px 5px 10px 6px;
  margin: 0 auto 0 auto;
}
#message  p,
#noscript p {
  display: inline-block;
  position: relative;
  padding: 0 0 0 28px;
}
#message  p:before,
#noscript p:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f70;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius:    20px;
  border-radius:         20px;
}
#message.success  p:before,
#noscript.success p:before {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  font-weight: 900; 
}
#message.error  p:before,
#noscript.error p:before {
  font-family: "Font Awesome 5 Free";
  content: '\f00d';
  font-weight: 900; 
}

/* Loading message ------------------------------------------------------------------------------ */
#loading_container {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  z-index: 99999 !important;
}
#loading_container2 {
  width: 100%;
  height: 100%;
  display: table;
}
#loading_container3 {
  display: table-cell;
  vertical-align: middle;
}
#loading_container4 {
  width: 350px;
  height: 250px;
  position: relative;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #666;
  padding: 165px 0 0 0;
   -webkit-box-sizing: border-box;
  -moz-box-sizing:     border-box;
  box-sizing:          border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  margin: 0 auto 0 auto;
}
#loading_container4:before {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #f70;
  content: '\f013';
  font-weight: 900; 
  -webkit-animation: spin 2s infinite linear;
  animation:         spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform:         rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform:         rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform:         rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform:         rotate(359deg);
  }
}

.blue-bg {
    color: #fff;
    background: #57889c;
    background-color: #57889c;
}
.info-box {
    min-height: 150px;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}
.brown-bg {
    color: #fff;
    background: #d1b993;
    background-color: #d1b993;
}
.dark-bg {
    color: #fff;
    background: #1a2732;
    background-color: #1a2732;
}
.green-bg {
    color: #fff;
    background: #26c281;
    background-color: #26c281;
}
.tieude_dashboard{
  font-size: 15px;
  
}
.soluong_dashboard{ 
  font-size: 18px;  
  width: 130px;
  float: right ;  
  height: 100px;
  padding-top: 22px;
  text-align: center;
}
.icon_dashboard{

  height: 100px;
  width: 90px;
  font-size: 70px; 
  text-align: center;
  float: left;
   
}
.thongke_div{
  padding: 10px;

}
.link_dashboard{
  all:inherit ;
}
.link_dashboard:hover{
cursor: pointer ;
}

.dashboard_chart{
  width: 100%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
background-color: #272B30;
border-color: #272B30;
  }

.custom-select{
  background: none !important;
}
.callout a {
color: black;
  }

.inner{

  padding: 8%;
}

.dashboard_box{
background: linear-gradient(270deg, #00A753, #1B6233, #00A753, #1B6233);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
.dashboard_box > a{
  color: white;
}

.dashboard_alert{  
background: linear-gradient(270deg, #a76800, #FFBD40, #926200, #853c00);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
.dashboard_alert > a{
  color: white;
}
.dashboard_info{  
background: linear-gradient(270deg, #00A3B5, #005D8B, #003966, #00A3B5);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
.dashboard_info > a{
  color: white;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bg_checked{
  background-color: green !important;
  color: white;
}

.button_disabled{
  background-color: grey !important;
}

.filterhead{
  background-color: white !important;
}
.table_dropdown_filter{
  width: 100%;
}


.error.help-block{
  font-size: 14px;
  color: grey;
}

table.table-bordered.dataTable tbody td{
  overflow: hidden;
}
table.dataTable{
  table-layout: fixed;
}


.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #EEF3F3;
}
.navbar-static-top {
    z-index: 100;
    border-width: 0 0 1px;
}
input {
  font-size: 16px;
}